<!DOCTYPE html>
<html>

<%- include('layouts/coffee/coffee-head'); %> 

<body>
  <div class="main">
    <nav class="container">
      <ul>
        <li>Store</li>
        <li>Hours</li>
        <li>Wholesale</li>
      </ul>
    </nav>
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/logo.png" />
  </div>

  <div class="container supporting">
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/beans.png" />
    <div class="description">
      <h2>Great coffee does not happen by accident.</h2>
      <p>We work side by side with farmers around the world to strengthen farming practices to cultivate the best coffee beans in the world. Then, we train our baristas in the sacred art of the brew process, yielding the most flavorful coffee you’ve ever tasted.
      </p>
      <p>Tsunami Coffee is certified organic and fair trade.</p>
    </div>
  </div>

  <div class="rating">
    <div class="container">
      <h1>9.4/10: A rush of flavors. Absolutely divine.</h1>
      <p>~ Coffee Critic</p>
    </div>
  </div>

  <div class="container gallery">
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/latte.png" />
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/coffee-man.png" />
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/pastries.png" />
    <div class="clearfix"></div>
  </div>

  <div class="container location">
    <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tsunami-coffee/images/map.png" />
    <h1>Brewed with love in San Francisco.</h1>
  </div>

<%- include('layouts/coffee/coffee-footer'); %> 

</body>

</html>
