<!DOCTYPE html>
<html>

<head>
 <%- include('layouts/head'); -%>
 <%- include('layouts/contact/contact-style'); -%>  
</head>

<body>
      <div id="loader">
        <div id="particles-background" class="vertical-centered-box"></div>
        <div id="particles-foreground" class="vertical-centered-box"></div>
      
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
              <div class="loader-line"></div>
            </div>
            <%- include('layouts/payment/paymentCanceled-svg'); -%>
      
          </div>
        </div>
      </div>
      
  <div class="container" id="container-loader">

    <%- include('layouts/header'); -%>
    
    
    
      <div class="row contact-row" id="contact-row-id">
        <div class="col-xs col-sm col-md col-lg col-xl contact-container" id="contact-container-id">
          <div class="form" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear">
            <h1 class="contact-content">Contact Us</h1>
            <form method="POST" action="/contact" id="contact">
              <div class="form-group">
                <label for="name">Name </label>
                <br>
                <input class="form-control" type="text" name="name" id="name" required>
              </div>
              <div class="form-group">
                <label for="email"> Email </label>
                <br>
                <input class="form-control" type="email" name="email" id="email" required>
              </div>
              <div class="form-group">
                <label for="message"> Messages </label>
                <br>
                <textarea class="form-control" rows="3" name="message" id="message" required></textarea>
              </div>
              <input class="form-control btn" type="submit" value="Send" id="submit">
            </form>
          </div>
    
         
    
        </div>
      </div>
      </div>
   
    
  
    
   
   
  </div>
    <%- include('layouts/footer'); -%>
  
<video autoplay muted id="video">
  <source src="../images/video.mp4" type="video/mp4">
</video>

<%- include('layouts/contact/contact-scripts'); %> 

</script>

</body>

</html>

