<!DOCTYPE html>
<html>

<head>
<%- include('layouts/head'); -%>
<%- include('layouts/portfolio/portfolio-style'); -%>  
</head>

<body>
      <div id="loader">
            <div id="particles-background" class="vertical-centered-box"></div>
            <div id="particles-foreground" class="vertical-centered-box"></div>
      
            <div class="vertical-centered-box">
                  <div class="content">
                        <div class="loader-circle"></div>
                        <div class="loader-line-mask">
                              <div class="loader-line"></div>
                        </div>
                        <%- include('layouts/payment/paymentCanceled-svg'); -%>
      
                  </div>
            </div>
      </div>
      <div class="container">
         
            
            <%- include('layouts/header'); -%>
                  
                  <div class="row porfolio-row">
                        <div class=" col-xs col-sm col-md col-lg col-xl portfolio-col">
                              <h1 class="portfolio-content" id="port">Portfolio</h1>
                        </div>
                  </div>
            
                  <div class="row 02pilot-row">
                  <div data-aos="fade-right" data-aos-duration="1000" class=" col-xs col-sm col-md col-lg col-xl portfolio-move" id="portfolio-one">
                        <a id="02pilot-link" href="https://www.02pilot.com" target="_blank">
                              <img src="../images/02pilot.png" alt="first portfolio picture" height="200" width="400" class="round" id="portfolio-one-image">
                                    </a>
                              </div>
                        
                  </div>
            
                  <div class="row new-row">
                    <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400" id="portfolio-two" class="col-xs col-sm col-md col-lg col-xl portfolio-move">
                        <a id="new-link" href="https://www.newview.app" arget="_blank">
                          <img src="../images/portfolio-wordpress.png" class="img-fluid round"
                            alt="second portfolio picture" height="200" width="400"  id="portfolio-two-image">
                              </a>
                              </div>
                        
                  </div>
                  <div class="row davie-row">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="750" id="portfolio-six"
                              class=" col-xs col-sm col-md col-lg col-xl portfolio-move">
                              <a id="davie-link" href="https://www.reality.ai" target="_blank">
                                    <img src="../images/reality-ai.png" class="img-fluid round" alt="Sixth portfolio picture"
                                          height="200" width="400" id="portfolio-six-image">
                              </a>
                        </div>
                  </div>

                  <div class="row tea-row">
                     <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" id="portfolio-three"
                      class="col-xs col-sm col-md col-lg col-xl portfolio-move">
                        <a id="tea-link" href="https://personal-blog-portfolio.herokuapp.com/" target="_blank">
                          <img src="../images/blog.png" class="img-fluid round" alt="third portfolio picture"
                              height="200" width="400" id="portfolio-three-image">
                              </a>
                              </div>
                       
                  </div>
            
            
            
                  <div class="row broadway-row">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="650" id="portfolio-four"
                         class=" col-xs col-sm col-md col-lg col-x portfolio-move">
                         <a id="broadway-link" href="/twilio" target="_blank">
                          <img src="../images/twilio.png" class="img-fluid round" alt="Fourth portfolio picture"
                              height="200" width="400" id="portfolio-four-image">
                              </a>
                              </div>
                  </div>
            
            
            
                  <div class="row coffee-row">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" id="portfolio-five" class=" col-xs col-sm col-md col-lg col-xl portfolio-move">
                              <a id="coffee-link" href="/coffee" target="_blank">
                                <img src="../images/coffee.jpg" class="img-fluid round" alt="Fifth portfolio picture"
                                    height="200" width="400" id="portfolio-five-image">
                              </a>
                              </div>
                  </div>
            
            
            
                  <div class="row travel-row">
                  <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800" id="portfolio-seven" class="col-xs col-sm col-md col-lg col-xl portfolio-move">
                        <a id="travel-link" href="/travel" target="_blank">
                              <img src="../images/travels.jpg" class="img-fluid round" alt="Seventh portfolio picture" height="200" width="400" id="portfolio-seven-image">
                                    </a>
                              </div>
                  </div>
            
           
      </div>
     

<%- include('layouts/footer'); -%>
<%- include('layouts/scripts'); -%>
</body>

</html>